<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
      rel="stylesheet"
    />

    <title>Registro de Nuevo Usuario</title>
  </head>
  <body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img
          src="/images/logo-mercado-liebre.svg"
          alt="Logo Mercado Liebre"
          class="logo"
        />
        <div class="search-bar">
          <input
            type="text"
            id="searchterm"
            placeholder="Buscar productos y Marcas"
          />
          <button type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <h2 class="copy-header">
          <i class="fas fa-hand-holding-usd"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>

      <a href="#" class="hamburger-menu">
        <i class="fas fa-bars"></i>
      </a>

      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiedas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
          <li>
            <a href="#">Creá tu cuenta <i class="fas fa-credit-card"></i></a>
          </li>
          <li>
            <a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Registro de Usuario ( register.html ):

■ Nombre y apellido
■ Nombre de usuari@
■ Fecha de nacimiento
■ Domicilio
■ Perfil del usuario (consultar a l@s usuari@s si quieren comprar o vender)
■ Categorías de interés (puede elegir más de una)
● Electro
● Moda
● Hogar
● Juguetería
● Vida sana
■ Foto de usuario
■ Contraseña
■ Confirmar contraseña
■ Botón de enviar que nos lleve a la página principal
■ Botón de borrar todos los datos del formulario -->

    <main>
      <form action="#" method="POST" class="create-form">
        <div class="control-formulario">
          <label for="name"></label>
          <input
            type="text"
            id="name"
            placeholder="Nombre y apellido"
            class="control"
          />
        </div>

        <div class="control-formulario">
          <label for="user-name"></label>
          <input
            type="text"
            id="user-name"
            placeholder="Nombre de usuario"
            class="control"
          />
        </div>

        <div class="control-formulario">
          <label for="email"></label>
          <input type="email" id="email" placeholder="E-mail" class="control" />
        </div>

        <h4>Fecha de nacimiento</h4>
        <div class="control-formulario">
          <label for="nacimiento"></label>
          <input
            type="date"
            id="nacimiento"
            placeholder="Fecha de nacimiento"
            class="control"
          />
        </div>

        <div class="control-formulario">
          <label for="adress"></label>
          <input
            type="text"
            id="adress"
            placeholder="Domicilio"
            class="control"
          />
        </div>

        <h4>Perfil de usuario</h4>
        <input type="radio" name="buyer" id="buyer" class="radio-style" />
        <label for="buyer" class="radio-style">Comprador</label>

        <input type="radio" name="seller" id="seller" class="radio-style" />
        <label for="seller" class="radio-style">Vendedor</label>

        <h4>Intereses</h4>
        <div class="interests-container">
          <input
            type="checkbox"
            name="electro"
            id="electro"
            class="check-style"
          />
          <label for="electro" class="check-style">Electro</label>
        </div>
        <div class="interests-container">
          <input type="checkbox" name="moda" id="moda" class="check-style" />
          <label for="moda" class="check-style">Moda</label>
        </div>
        <div class="interests-container">
          <input type="checkbox" name="hogar" id="hogar" class="check-style" />
          <label for="hogar" class="check-style">Hogar</label>
        </div>
        <div class="interests-container">
          <input
            type="checkbox"
            name="jugueteria"
            id="jugueteria"
            class="check-style"
          />
          <label for="jugueteria" class="check-style">Juguetería</label>
        </div>
        <div class="interests-container">
            <input
              type="checkbox"
              name="vida-sana"
              id="vida-sana"
              class="check-style"
            />
            <label for="vida-sana" class="check-style">Vida sana</label>
        </div>

        <button type="submit" class="button-form">Enviar</button>
      </form>
    </main>

    <footer>
      <section>
        <article>
          <div>
            <i class="fas fa-credit-card fa-3x"></i>
          </div>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </article>
      </section>
      <section>
        <article>
          <div>
            <i class="fas fa-gift fa-3x"></i>
          </div>
          <h3>Envío gratis desde $2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </article>
      </section>
      <section>
        <article>
          <div>
            <i class="fas fa-user-shield fa-3x"></i>
          </div>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </article>
      </section>
      <section>
        <article>
          <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
        </article>
      </section>
    </footer>
  </body>
</html>
